@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #edf1f5;
  background-image: url("/layers/layer-group.png");
  background-position: center top;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* background-blend-mode: overlay; */
}

.responsive-svg {
  width: 720px;
  height: 540px;
}

svg {
  width: 100%;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 90%;
  background: #eff3f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #1ca5dd;
  border-radius: 20px;
  width: 200px;
  max-width: 200px;
}

.brand-box {
  width: 300px;
  height: 142px;
}

.brand-box-mobile {
  display: none;
}

.nav-container {
  margin-left: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  MEDIA QUERIES */

@media screen and (min-width: 2210px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position: center top;
  }
  svg {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
  }
}

@media screen and (max-width: 1420px) {
  .brand-box {
    width: 250px;
    height: 120px;
  }
}
@media screen and (max-width: 1360px) {
  .brand-box {
    display: none;
  }
  .brand-box-mobile {
    display: block;
  }
  .nav-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
}
