@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #edf1f5;
  background-image: url("/layers/layer-group.png");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* background-blend-mode: overlay; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand-box {
  width: 300px;
  height: 142px;
}

.brand-box-mobile {
  display: none;
}

.nav-container {
  margin-left: auto;
}

@media screen and (max-width: 1350px) {
  .brand-box {
    width: 250px;
    height: 120px;
  }
}
@media screen and (max-width: 1280px) {
  .brand-box {
    display: none;
  }
  .brand-box-mobile {
    display: block;
  }
  .nav-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
}
