@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #edf1f5;
  background-image: url("/layers/layer-group.png");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* background-blend-mode: overlay; */
}

.responsive-svg {
  width: 720px;
  height: 540px;
}

svg {
  width: 100%;
  height: 100%;
}

/* Media Query pour les écrans larges (exemple : large écrans) */
@media (max-width: 1224px) {
  .responsive-svg {
    width: 566px;
    height: 420px;
  }
}

@media (max-width: 640px) {
  .responsive-svg {
    width: 476px;
    height: 350px;
  }
}
@media (max-width: 530px) {
  .responsive-svg {
    width: 326px;
    height: 250px;
  }
}

.departement {
  fill: white;
  stroke: black;
  stroke-width: 1;
  transition: fill 0.3s;
}

.departement:hover {
  fill: red;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  display: none;
  pointer-events: none;
  font-size: 12px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brand-box {
  width: 300px;
  height: 142px;
}

.brand-box-mobile {
  display: none;
}

.nav-container {
  margin-left: auto;
}

@media screen and (max-width: 1350px) {
  .brand-box {
    width: 250px;
    height: 120px;
  }
}
@media screen and (max-width: 1280px) {
  .brand-box {
    display: none;
  }
  .brand-box-mobile {
    display: block;
  }
  .nav-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
}
